@model IEnumerable<EzyShape.Infrastructure.Data.Models.Workout>
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["All Workouts"];
}

<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/normalize.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/allWorkouts.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>

    <main>
        <div class="div-title">
            <h1 class="tbl-header">@Localizer["All Workouts"]</h1>
            <button type="button" class="button-add">
                <a class="button-add-link" asp-action="AddWorkout">+ @Localizer["Add Workout"]</a>
            </button>
        </div>

        <div class="div-input">
            <input placeholder="@Localizer["Search for a workout..."]" />
        </div>

        <div class="div-table">
            @if (Model != null && Model.Any())
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>@Localizer["Name"]</th>
                            <th>@Localizer["Description"]</th>
                            <th>@Localizer["Actions"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var workout in Model)
                        {
                            <tr>
                                <td>@workout.Name</td>
                                <td>@workout.Description</td>
                                <td class="td-center">
                                    <a asp-action="Details" asp-route-id="@workout.Id" class="btn btn-info">
                                        @Localizer["View Exercises"]
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>@Localizer["No workouts found."]</p>
            }
        </div>

    </main>

</body>
</html>
