@model IEnumerable<EzyShape.Infrastructure.Data.Models.Workout>

@{
    ViewData["Title"] = "All Workouts";
}



<head>
    <title>@ViewData["Title"]</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>


<div class="container">
    <h2>@ViewData["Title"]</h2>
    <hr />

    @if (Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var workout in Model)
                {
                    <tr>
                        <td>@workout.Name</td>
                        <td>@workout.Description</td>
                        <td>
                            <a asp-action="Details" asp-route-id="@workout.Id" class="btn btn-info">View Exercises</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-info">No workouts available.</div>
    }

    <div class="mt-3">
        <a asp-action="AddWorkout" class="btn btn-primary">Add Workout</a>
    </div>
</div>