@model Workout

@{
    ViewData["Title"] = "Workout Details";
}

<html>

<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/normalize.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/workoutDetails.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>

    <main>
        <div class="div-title">
            <h1 class="tbl-header">@Model.Name</h1>
            <button type="button" class="button-add">
                <a class="button-add-link" asp-area="Trainer" asp-controller="Workout" asp-action="AssignExercise" asp-route-id="@Model.Id">+ Exercise</a>
            </button>
        </div>

        <div class="div-content">
            @if (!string.IsNullOrEmpty(Model.Description))
            {
                <div>
                    <h4>Description</h4>
                    <p>@Model.Description</p>
                </div>
            }


            <div>
                <h4>Exercises</h4>
                @if (Model.ExerciseIds.Any())
                {
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Exercise Name</th>
                                <th>Sets</th>
                                <th>Repetitions</th>
                                <th>Tempo</th>
                                <th>Rest</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var exercise in Model.ExerciseIds)
                            {
                                <tr>
                                    <td>@exercise.Exercise.Name</td>
                                    <td>@exercise.Sets</td>
                                    <td>@exercise.Repetitions</td>
                                    <td>@exercise.Tempo</td>
                                    <td>@exercise.Rest</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <div class="alert alert-info">No exercises available for this workout.</div>
                }
            </div>
        </div>

        <div class="mt-3">
            <a asp-action="AllWorkouts" class="btn btn-secondary">Back to Workouts</a>
        </div>
    </main>

</body>

</html>
