@model IEnumerable<ClientSmallViewModel>;

@{
    ViewData["Title"] = "My Clients | Personal Trainer Software for Professionals";
}

<!DOCTYPE html>
<html>

<head>
    <title>Clients</title>
</head>

<body>

    <h2>@ViewData["Title"]</h2>

    <a class="btn btn-primary mb-3" asp-area="Trainer" asp-controller="Client" asp-action="CreateClient">Create a new client profile</a>

    <div class="top-div">
        <div class="title-driv">

        </div>
        <div
            class="button-div"></div>
    </div>

    <div class="bottom-div">
        <div class="table-div">

        </div>
    </div>


    @if (Model != null && Model.Any())
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var client in Model)
                {
                    <tr>
                        <td>@client.Username</td>
                        <td>@client.FirstName</td>
                        <td>@client.LastName</td>
                        <td>
                            <a class="btn btn-info" asp-area="Trainer" asp-controller="Client" asp-action="Overview" asp-route-clientId="@client.Id">View</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No clients found.</p>
    }

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</body>

</html>
