@model ClientRegisterViewModel;

@{
    ViewData["Title"] = "New Client";
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/normalize.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Trainer/createClient.css" asp-append-version="true" />
</head>
<body>
    <section class="box-shadow">
        <div>
            <div>
                <form id="account" method="post">

                    <h2>@ViewData["Title"]</h2>
                    <div asp-validation-summary="ModelOnly" style="color:red;"></div>

                    <div>
                        <ion-icon name="person-outline"></ion-icon>
                        <label asp-for="@Model.FirstName">First name</label>
                        <input autocomplete="firstname" aria-required="true" asp-for="@Model.FirstName" />
                        <span asp-validation-for="@Model.FirstName" style="color:red;"></span>
                    </div>

                    <div>
                        <ion-icon name="person-outline"></ion-icon>
                        <label asp-for="@Model.LastName">Last name</label>
                        <input autocomplete="lastname" aria-required="true" asp-for="@Model.LastName" />
                        <span asp-validation-for="@Model.LastName" style="color:red;"></span>
                    </div>

                    <div>
                        <ion-icon name="mail-outline"></ion-icon>
                        <label asp-for="@Model.Email">Email</label>
                        <input autocomplete="email" aria-required="true" asp-for="@Model.Email" />
                        <span asp-validation-for="@Model.Email" style="color:red;"></span>
                    </div>

                    <div>
                        <button id="createclientSubmit" type="submit">Create Client Profile now</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <script src='https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js'></script>
    <script src='https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js'></script>
</body>
</html>
