@model ClientOverviewViewModel



@{
    ViewData["Title"] = $"{Model.Client.FirstName} {Model.Client.LastName} ● Overview ● EzyShape";
}

<html>

<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/normalize.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/clientOverview.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>

    <div class="div-title">
        <div class="client-item">
            <div class="photo-div" style="background-color:@Model.Client.ColorCode">
                <p class="photo-letter">@Model.Client.FirstName[0]</p>
            </div>
            <p class="client-name-p">
                @($"{Model.Client.FirstName} {Model.Client.LastName}")
            </p>
        </div>
        <div class="buttons-top">
            <button class="button-chat">
                <i class="fa-regular fa-message"></i> Chat
            </button>

            <button class="button-access">
                <i class="fa-solid fa-user-lock"></i> Share Access
            </button>
        </div>
    </div>

    <div class="div-navigation">
        <button class="button-nav button-current-page">
            Overview
        </button>
        <button class="button-nav">
            Check Ins
        </button>
        <button class="button-nav"
                onclick="window.location.href='@Url.Action("Training", "Client", new { area = "Trainer", clientId = @Model.Client.Id })';">
            Training
        </button>

        <button class="button-nav">
            Gallery
        </button>
        <button class="button-nav">
            Metrics
        </button>
        <button class="button-nav">
            Settings
        </button>
    </div>

    <div class="div-containers">
        <div class="box-container box-shadow">
            <div class="div-container-title">
                <img src="~/img/container-images/container-info.png" alt="Client Info" width="24" height="24">
                <h5 class="container-container-title-text">Client Info</h5>
            </div>

            <div class="info-content-div">
                <div class="info-row">
                    <p class="info-label">First name:</p>
                    <p class="info-value">@Model.Client.FirstName</p>
                </div>
                <div class="info-row">
                    <p class="info-label">Last name:</p>
                    <p class="info-value">@Model.Client.LastName</p>
                </div>
                <div class="info-row">
                    <p class="info-label">Email:</p>
                    <p class="info-value">@Model.Client.Email</p>
                </div>
                <div class="info-row">
                    <p class="info-label">Last Check-In:</p>
                    <div class="last-checking-div">
                        <p>TBA</p>
                    </div>
                </div>
                <div class="info-row">
                    <p class="info-label">Last Active:</p>
                    <div class="last-active-div">
                        @{
                            var lastOnline = Model.Client.LastOnline;
                            string lastOnlineText = "Never";

                            if (lastOnline.HasValue)
                            {
                                var timeAgo = DateTime.UtcNow - lastOnline.Value;

                                if (timeAgo.TotalMinutes < 60)
                                {
                                    lastOnlineText = $"{(int)timeAgo.TotalMinutes} minutes ago";
                                }
                                else if (timeAgo.TotalHours < 24)
                                {
                                    lastOnlineText = $"{(int)timeAgo.TotalHours} hours ago";
                                }
                                else
                                {
                                    lastOnlineText = $"{(int)timeAgo.TotalDays} days ago";
                                }
                            }
                        }
                        <p>@lastOnlineText</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-container box-shadow">
            <div class="div-container-title">
                <img src="~/img/container-images/container-notes.png" alt="Notes" width="24" height="24">
                <h5 class="container-title-text">Notes</h5>
            </div>
        </div>
        <div class="box-container box-shadow">
            <div class="div-container-title">
                <img src="~/img/container-images/container-activity.png" alt="Activity History" width="24" height="24">
                <h5 class="container-title-text">Activity History</h5>
            </div>
        </div>
        <div class="box-container box-shadow">
            <div class="div-container-title">
                <img src="~/img/container-images/container-data.png" alt="Client Data" width="24" height="24">
                <h5 class="container-title-text">Weight Graph</h5>
            </div>
            <div style="height: 250px;">
                <canvas id="weightChart"></canvas>
            </div>
        </div>
        <div class="box-container box-shadow">
            <div class="div-container-title">
                <img src="~/img/container-images/container-data.png" alt="Client Data" width="24" height="24">
                <h5 class="container-title-text">Client Data</h5>
            </div>
        </div>
        <div class="box-container photos-container box-shadow">
            <div class="div-container-title">
                <img src="~/img/container-images/container-photos.png" alt="Recent Photos" width="24" height="24">
                <h5 class="container-title-text">Recent Photos</h5>
            </div>

            @if (Model.Photos.Any())
            {
                <div class="gallery-content-div">
                    @foreach (var photo in Model.Photos)
                    {
                        <img src="@Url.Content("~/images/" + photo.FileName)" alt="Uploaded Photo" class="gallery-photo" />
                    }
                </div>
            }
            else
            {
                <p class="no-photos-p">There are still no photos uploaded!</p>
            }
        </div>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <script>
        const weightLabels = [
        @foreach (var log in Model.WeightLogs)
        {
            @Html.Raw("\"" + log.LogDate.ToString("MM/dd/yyyy") + "\",")
        }
        ];

        const weightData = [
        @foreach (var log in Model.WeightLogs)
        {
            @Html.Raw(log.Weight + ",")
        }
        ];

        const ctx = document.getElementById('weightChart').getContext('2d');
        const weightChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: weightLabels,
                datasets: [{
                    // label: 'Weight Over Time', // <== REMOVE THIS
                    data: weightData,
                    borderColor: '#2051f1',
                    backgroundColor: 'rgba(32, 81, 241, 0.1)',
                    fill: true,
                    tension: 0.4,
                    pointRadius: 5,
                    pointBackgroundColor: '#2051f1'
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        display: false // <== HIDE THE LEGEND COMPLETELY
                    }
                },
                scales: {
                    y: {
                        beginAtZero: false
                    }
                }
            }
        });
    </script>
</body>

</html>
