@model AddExerciseViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Title"];
}

<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/normalize.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Trainer/addExercise.css" asp-append-version="true" />
</head>

<div class="container">
    <h2>@ViewData["Title"]</h2>
    <hr />

    <div class="row">
        <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
            <form asp-action="AddExercise" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label asp-for="Name" class="form-label">@Localizer["Label_Name"]</label>
                    <input asp-for="Name" class="form-control" aria-required="true" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Link" class="form-label">@Localizer["Label_Link"]</label>
                    <input asp-for="Link" class="form-control" />
                    <span asp-validation-for="Link" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Notes" class="form-label">@Localizer["Label_Notes"]</label>
                    <input asp-for="Notes" class="form-control" />
                    <span asp-validation-for="Notes" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="MuscleId" class="form-label">@Localizer["Label_MuscleId"]</label>
                    <select asp-for="MuscleId" class="form-control">
                        <option value="">@Localizer["Select_Muscle"]</option>
                        @foreach (var muscle in Model.Muscles)
                        {
                            <option value="@muscle.Id">@muscle.Name</option>
                        }
                    </select>
                    <span asp-validation-for="MuscleId" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="CategoryId" class="form-label">@Localizer["Label_CategoryId"]</label>
                    <select asp-for="CategoryId" class="form-control">
                        <option value="">@Localizer["Select_Category"]</option>
                        @foreach (var category in Model.Categories)
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="LevelId" class="form-label">@Localizer["Label_LevelId"]</label>
                    <select asp-for="LevelId" class="form-control">
                        <option value="">@Localizer["Select_Level"]</option>
                        @foreach (var level in Model.Levels)
                        {
                            <option value="@level.Id">@level.Name</option>
                        }
                    </select>
                    <span asp-validation-for="LevelId" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="EquipmentId" class="form-label">@Localizer["Label_EquipmentId"]</label>
                    <select asp-for="EquipmentId" class="form-control">
                        <option value="">@Localizer["Select_Equipment"]</option>
                        @foreach (var equipment in Model.Equipments)
                        {
                            <option value="@equipment.Id">@equipment.Name</option>
                        }
                    </select>
                    <span asp-validation-for="EquipmentId" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <input type="submit" value="@Localizer["Button_Add"]" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
