@model IEnumerable<ExerciseViewModel>

@{
    ViewData["Title"] = "Exercise Library - EzyShape";
}

<html>

<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/normalize.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/allExercises.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>

    <main>

        
    <div class="div-title">

        <h1 class="tbl-header">Exercise Library</h1>


        <button type="button" class="button-add">
            <a class="button-add-link" asp-area="Trainer" asp-controller="Exercise" asp-action="AddExercise">+ Add Exercise</a>
        </button>

    </div>

    <div class="div-input">
            <input placeholder="Search for an exercise..." />
    </div
    
    <div class="div-table">
        
    @if (Model != null && Model.Any())
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Primary Focus</th>
                    <th>Category</th>
                    <th>Level</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var exercise in Model)
                {
                    <tr>
                        <td class="td-center">
                            @{
                                string videoId = "";
                                string imageUrl = "/img/orange.png"; // Default image

                                if (!string.IsNullOrEmpty(exercise.Link))
                                {
                                    if (Uri.TryCreate(exercise.Link, UriKind.Absolute, out Uri? uri))
                                    {
                                        var query = System.Web.HttpUtility.ParseQueryString(uri.Query);
                                        if (query.AllKeys.Contains("v"))    
                                        {
                                            videoId = query["v"];
                                            imageUrl = $"https://img.youtube.com/vi/{videoId}/0.jpg";
                                        }
                                    }
                                }
                            }

                            <div class="exercise-image-div">
                                <a href="@exercise.Link">
                                    <img src="@Url.Content(imageUrl)" class="img-exercise" alt="Video Thumbnail" />
                                </a>
                            </div>
                        </td>


                        <td>@exercise.Name</td>
                        <td>@exercise.Muscle</td>
                        <td>@exercise.Category</td>
                        <td>@exercise.Level</td>
                        <td class="td-center">
                            <button class="button-delete">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No exercises found.</p>
    }
    </div>




    </main>


</body>

</html>
