@model IEnumerable<SplitViewModel>

@{
    ViewData["Title"] = "All Splits ● EzyShape";
}

<html>

<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/normalize.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/allSplits.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>

    <main>
        <div class="div-title">
            <h1 class="tbl-header">@ViewData["Title"]</h1>
            <button type="button" class="button-add">
                <a class="button-add-link" asp-area="Trainer" asp-controller="Split" asp-action="AddSplit">+ Add a new split</a>
            </button>
        </div>

        <div class="div-input">
            <input placeholder="Search for a split..." />
        </div>

        <div class="div-table">
            @if (Model != null && Model.Any())
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var split in Model)
                        {
                            <tr onclick="window.location.href='@Url.Action("Detail", "Split", new { area = "Trainer", splitId = split.Id })';" style="cursor: pointer;">
                                <td>
                                    <a asp-area="Trainer"
                                       asp-controller="Split"
                                       asp-action="Detail"
                                       asp-route-id="@split.Id">
                                        @split.Name
                                    </a>
                                </td>
                                <td>@(string.IsNullOrEmpty(split.Description) ? "N/A" : split.Description)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>No splits found.</p>
            }
        </div>
    </main>

</body>

</html>
