@{
    ViewData["Title"] = "Dashboard | Personal Trainer Software for Professionals";
    @model ClientsTasksViewModel
}

<!DOCTYPE html>
<html>

<head>
    <title>Dashboard | EzyShape</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">
    <link rel="stylesheet" href="~/css/normalize.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/trainer-dashboard-style.css" asp-append-version="true" />
</head>

<body>

    <div class="dashboard-body">
        <div class="left-div">

            <div class="clients-checkin-div">

                <div class="clients-div box-shadow">
                    <p class="div-title">Recent Clients</p>
                    <div class="clients-list-div">


                        @if (Model.Clients != null && Model.Clients.Any())
                        {
                            @foreach (var client in Model.Clients)
                            {
                                <div class="client-item">
                                    <div class="photo-div" style="background-color:@client.ColorCode">
                                        <p class="photo-letter">@client.FirstName[0]</p>
                                    </div>
                                    <p class="client-name-p">
                                        @($"{client.FirstName} {client.LastName}")
                                    </p>
                                </div>
                            }
                        }
                    </div>
                </div>

                <div class="checkin-progress-div box-shadow">

                </div>

            </div>


            <div class="check-in-div box-shadow">

            </div>
     

        </div>

        <div class="right-div">

            <div class="messages-div box-shadow">

            </div>

            <div class="tasks-div box-shadow">
                <p class="div-title">Recent Tasks</p>

                <div class="tasks-list-div">

                    @if (Model.Tasks != null && Model.Tasks.Any())
                    {
                        @foreach (var task in Model.Tasks)
                        {
                            <div class="task-item">
                                <div class="task-info-div">
                                    <p class="task-name">
                                        @task.Name
                                    </p>
                                    <p class="task-desc">
                                        @task.Description
                                    </p>
                                    <p class="task-date">@task.DueDate</p>
                                </div>
                                <button class="task-button">+</button>
                            </div>
                        }
                    }

                </div>
            </div>


        </div>
    </div>


</body>

</html>
