
@{
    ViewData["Title"] = "Settings ● EzyShape";
    @model TrainerViewModel
    @inject IViewLocalizer Localizer
    @inject SignInManager<User> SignInManager
    @inject UserManager<User> UserManager

}

<!DOCTYPE html>
<html>

<head>
    <title>Dashboard | EzyShape</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="~/css/normalize.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Trainer/trainer-settings.css" asp-append-version="true" />
</head>

<body>

    <h3 class="settings-title-text">@Localizer["SettingsTitle"]</h3>
    <div class="settings-body">
        <div class="settings-info-section container box-shadow">
            <div class="settings-info-top-div">
                <p>
                    <i class="fa-regular fa-user"></i>
                    @Localizer["UserLabel"]
                </p>
            </div>
            <div class="settings-info-bottom-div">
                <input class="name-input" type="text" value="@Model.FirstName @Model.LastName">
                <button class="save-name-button">@Localizer["SaveButton"]</button>
            </div>
        </div>

        <div class="settings-language-section container box-shadow">
            <div class="settings-info-top-div">
                <p>
                    <i class="fa-solid fa-language"></i>
                    @Localizer["LanguageLabel"]
                </p>
            </div>
            <div class="settings-info-bottom-div">
                @{
                    var currentLang = Model.PreferredLanguage?.ToLower() ?? "en";
                    var otherLang = currentLang == "en" ? "bg" : "en";
                    var languageDisplay = new Dictionary<string, string> {
                { "en", "English" },
                { "bg", "Български" }
                };
                }
                <select class="language-select" id="languageSelect">
                    <option value="@currentLang" disabled selected>@languageDisplay[currentLang] (@Localizer["Current"])</option>
                    <option value="@otherLang">@languageDisplay[otherLang]</option>
                </select>
                <button id="changeLanguageBtn" class="save-language-button">OK</button>
            </div>
        </div>
    </div>

    <script src="~/js/Trainer/changeLanguage.js"></script>

</body>

</html>
